/* line 1, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#content {
  height: initial;
  min-height: calc(100vh - 120px);
}
/* force layout to make sure the content element's height matches its contents' height */
/* line 7, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
.ie #content {
  display: inline-block;
}
/* line 11, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#preview {
  background: #fff;
  text-align: center;
}
/* line 16, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#preview .notCreatable {
  display: none;
}
/* line 20, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#noPreview {
  display: none;
  padding-top: 80px;
}
/* line 25, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#imgframe {
  height: 75%;
  padding-bottom: 32px;
  padding-top: 32px;
  width: 80%;
  margin: 0 auto;
}
/* line 34, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#imgframe img, #imgframe video {
  max-height: 100% !important;
  max-width: 100% !important;
}
/* line 39, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#imgframe video {
  width: 854px;
  height: 480px;
}
/* line 44, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#imgframe .text-preview {
  display: inline-block;
  position: relative;
  text-align: left;
  white-space: pre-wrap;
  overflow-y: hidden;
  height: auto;
  min-height: 200px;
  max-height: 800px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 61, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#imgframe .ellipsis {
  font-size: 1.2em;
}
/* fix multiselect bar offset on shared page */
/* line 66, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
thead {
  left: 0 !important;
}
/* line 70, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#data-upload-form {
  position: relative;
  right: 0;
  height: 32px;
  overflow: hidden;
  padding: 0;
  float: right;
  display: inline;
  margin: 0;
}
/* line 82, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
.directDownload, .directLink {
  margin-bottom: 20px;
}
/* keep long file names in one line to not overflow download button on mobile */
/* line 88, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
.directDownload #downloadFile {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
/* line 98, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
.directLink label {
  font-weight: normal;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
}
/* line 104, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
.directLink input {
  margin-left: 5px;
  width: 300px;
  max-width: 90%;
}
/* header buttons */
/* line 111, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#details {
  display: inline-flex;
}
/* line 114, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#details button, #details input, #details .button {
  margin: 0 5px;
  line-height: normal;
}
/* line 120, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#details button:hover, #details input:hover, #details .button:hover {
  /* No  */
  border-color: rgba(0, 0, 0, 0.3) !important;
}
/* within #save */
/* line 128, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#save .save-form {
  position: relative;
}
/* line 132, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#remote_address {
  width: 200px;
  margin-right: 4px;
  height: 31px;
}
/* line 139, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#save-button-confirm {
  position: absolute;
  background-color: transparent;
  border: none;
  margin: 2px 4px !important;
  right: 7px;
  top: -8px;
  height: 30px;
}
/* line 149, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#public-upload .avatardiv {
  margin: 0 auto;
}
/* line 153, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#emptycontent.has-disclaimer {
  margin-top: 10vh;
}
/* line 157, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#public-upload #emptycontent h2 {
  margin: 10px 0 5px 0;
}
/* line 161, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#public-upload #emptycontent h2 + p {
  margin-bottom: 30px;
}
/* line 165, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#public-upload #emptycontent .icon-folder {
  height: 16px;
  width: 16px;
  background-size: 16px;
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 0;
  margin-right: 5px;
  opacity: 1;
}
/* line 176, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#public-upload #emptycontent .button {
  display: inline-block;
  height: auto;
  width: auto;
  background-size: 16px;
  background-position: 16px;
  opacity: 0.7;
  font-size: 20px;
  line-height: initial;
  margin: 20px;
  padding: 10px 20px;
  padding-left: 42px;
}
/* line 190, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#public-upload #emptycontent ul {
  width: 160px;
  margin: 5px auto;
  text-align: left;
}
/* line 196, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#public-upload #emptycontent li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 7px 0;
}
/* line 203, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#public-upload #emptycontent li img {
  vertical-align: text-bottom;
  margin-right: 5px;
}
/* line 208, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
#public-upload li span.icon-loading-small {
  padding-left: 18px;
  margin-right: 7px;
}
/* line 213, /opt/nextcloud-12/apps/files_sharing/css/public.scss */
.disclaimer {
  margin: -20px auto 30px;
  max-width: 400px;
  text-align: left;
}
/* make header scroll up for single shares, more view of content on small screens */
@media only screen and (max-width: 768px) {
  /* hide text of download button, only show icon */
  /* hide size and date columns */
  /* restrict length of displayed filename to prevent overflow */
  /* on mobile, show single shared image at full width without margin */
  /* some margin for the file type icon */
  /* some padding for better clickability */
  /* hide text of the actions on mobile */
  /* ellipsis on file names */
  /* line 4, /opt/nextcloud-12/apps/files_sharing/css/mobile.scss */
  #header.share-file {
    position: absolute !important;
  }
  /* line 9, /opt/nextcloud-12/apps/files_sharing/css/mobile.scss */
  #download-text {
    display: none;
  }
  /* line 14, /opt/nextcloud-12/apps/files_sharing/css/mobile.scss */
  table th#headerSize, table td.filesize, table th#headerDate, table td.date {
    display: none;
  }
  /* line 22, /opt/nextcloud-12/apps/files_sharing/css/mobile.scss */
  table td.filename .nametext {
    max-width: 75% !important;
  }
  /* line 27, /opt/nextcloud-12/apps/files_sharing/css/mobile.scss */
  #imgframe {
    width: 100%;
    padding: 0;
    margin-bottom: 35px;
  }
  /* line 33, /opt/nextcloud-12/apps/files_sharing/css/mobile.scss */
  #imgframe .publicpreview {
    margin-top: 32px;
  }
  /* line 38, /opt/nextcloud-12/apps/files_sharing/css/mobile.scss */
  #fileList a.action img {
    padding: 0 6px 0 12px;
  }
  /* line 42, /opt/nextcloud-12/apps/files_sharing/css/mobile.scss */
  #fileList a.action:not(.menuitem) span {
    display: none;
  }
  /* line 47, /opt/nextcloud-12/apps/files_sharing/css/mobile.scss */
  .nametext {
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
