/**
 * @copyright Copyright (c) 2016, John Molakvoæ <skjnldsv@protonmail.com>
 * @copyright Copyright (c) 2016, Morris Jobke <hey@morrisjobke.de>
 * @copyright Copyright (c) 2016, Julia Bode <julia.bode@lulisaur.us>
 * @copyright Copyright (c) 2016, Christoph Wurst <christoph@winzerhof-wurst.at>
 * @copyright Copyright (c) 2015, Hendrik Leppelsack <hendrik@leppelsack.de>
 * @copyright Copyright (c) 2015, Jan-Christoph Borchardt <hey@jancborchardt.net>
 * @copyright Copyright (c) 2015, Vincent Petry <pvince81@owncloud.com>
 * @copyright Copyright (c) 2015, Arthur Schiwon <blizzz@owncloud.com>
 * @copyright Copyright (c) 2015, Roeland Jago Douma <roeland@famdouma.nl>
 * @copyright Copyright (c) 2015, Morris Jobke <hey@morrisjobke.de>
 *
 * @license GNU AGPL version 3 or any later version
 *
 */
/* SHARE TAB STYLING -------------------------------------------------------- */
/* line 18, /opt/nextcloud-12/core/css/share.scss */
/* line 19, /opt/nextcloud-12/core/css/share.scss */
.shareTabView .unshare.icon-loading-small {
  margin-top: 1px;
}
/* line 22, /opt/nextcloud-12/core/css/share.scss */
.shareTabView .shareWithLoading, .shareTabView .linkShare .icon-loading-small {
  display: inline-block !important;
  padding-left: 10px;
}
/* line 26, /opt/nextcloud-12/core/css/share.scss */
.shareTabView .shareWithLoading {
  position: relative;
  right: 70px;
  top: 2px;
}
/* line 31, /opt/nextcloud-12/core/css/share.scss */
.shareTabView .icon-loading-small.hidden {
  display: none !important;
}
/* line 34, /opt/nextcloud-12/core/css/share.scss */
.shareTabView .avatar {
  margin-right: 8px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}
/* line 42, /opt/nextcloud-12/core/css/share.scss */
.shareTabView label {
  font-weight: 400;
  white-space: nowrap;
}
/* line 46, /opt/nextcloud-12/core/css/share.scss */
.shareTabView input[type='radio'].radio + label {
  margin-left: -1px;
}
/* line 49, /opt/nextcloud-12/core/css/share.scss */
.shareTabView input[type='checkbox'] {
  margin: 0 3px 0 8px;
  vertical-align: middle;
}
/* line 53, /opt/nextcloud-12/core/css/share.scss */
.shareTabView input[type='submit'] {
  margin-left: 7px;
}
/* line 56, /opt/nextcloud-12/core/css/share.scss */
.shareTabView form {
  font-size: 100%;
  margin-left: 0;
  margin-right: 0;
}
/* line 61, /opt/nextcloud-12/core/css/share.scss */
.shareTabView .error {
  color: #e9322d;
  border-color: #e9322d;
  box-shadow: 0 0 6px rgba(233, 50, 45, 0.35);
}
/* line 66, /opt/nextcloud-12/core/css/share.scss */
.shareTabView .mailView .icon-mail {
  opacity: 0.5;
}
/* line 71, /opt/nextcloud-12/core/css/share.scss */
.share-autocomplete-item {
  display: flex;
}
/* line 73, /opt/nextcloud-12/core/css/share.scss */
.share-autocomplete-item .autocomplete-item-text {
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 32px;
  vertical-align: middle;
}
/* line 84, /opt/nextcloud-12/core/css/share.scss */
.ui-autocomplete .autocomplete-note {
  padding: 5px 10px;
  color: rgba(0, 0, 0, .3);
}
/* line 89, /opt/nextcloud-12/core/css/share.scss */
#shareWithList {
  list-style-type: none;
  padding: 8px;
}
/* line 92, /opt/nextcloud-12/core/css/share.scss */
#shareWithList > li {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  line-height: 21px;
  white-space: normal;
  width: 100%;
}
/* line 101, /opt/nextcloud-12/core/css/share.scss */
#shareWithList .sharingOptionsGroup {
  flex-shrink: 0;
  position: relative;
}
/* line 104, /opt/nextcloud-12/core/css/share.scss */
#shareWithList .sharingOptionsGroup .popovermenu {
  right: -11px;
  top: 35px;
  padding: 3px 6px;
}
/* line 111, /opt/nextcloud-12/core/css/share.scss */
#shareWithList .shareOption {
  white-space: nowrap;
  display: inline-block;
}
/* line 115, /opt/nextcloud-12/core/css/share.scss */
#shareWithList .unshare img, #shareWithList .showCruds img {
  vertical-align: text-bottom;
  /* properly align icons */
}
/* line 120, /opt/nextcloud-12/core/css/share.scss */
#shareWithList label input[type=checkbox] {
  margin-left: 0;
  position: relative;
}
/* line 124, /opt/nextcloud-12/core/css/share.scss */
#shareWithList .username {
  padding-right: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  flex-grow: 5;
}
/* line 135, /opt/nextcloud-12/core/css/share.scss */
/* line 136, /opt/nextcloud-12/core/css/share.scss */
a.showCruds {
  display: inline;
  opacity: 0.5;
}
/* line 140, /opt/nextcloud-12/core/css/share.scss */
a.unshare {
  display: inline-block;
  opacity: 0.5;
  padding: 10px;
}
/* line 145, /opt/nextcloud-12/core/css/share.scss */
a.showCruds:hover, a.unshare:hover {
  opacity: 1;
}
/* line 151, /opt/nextcloud-12/core/css/share.scss */
#link {
  border-top: 1px solid #dbdbdb;
  padding-top: 8px;
}
/* line 154, /opt/nextcloud-12/core/css/share.scss */
#link #showPassword img {
  padding-left: 5px;
  width: 12px;
}
/* line 160, /opt/nextcloud-12/core/css/share.scss */
.reshare, #link label, #expiration label {
  display: inline-block;
  padding: 6px 4px;
}
/* line 167, /opt/nextcloud-12/core/css/share.scss */
.resharerInfoView.subView {
  position: relative;
}
/* line 171, /opt/nextcloud-12/core/css/share.scss */
#defaultExpireMessage, .reshare {
  /* fix shared by text going out of box */
  white-space: normal;
}
/* line 176, /opt/nextcloud-12/core/css/share.scss */
#defaultExpireMessage {
  /* show message on new line */
  display: block;
  padding-left: 4px;
  /* TODO: style the dropdown in a proper way - border-box, etc. */
  width: 90%;
}
/* line 184, /opt/nextcloud-12/core/css/share.scss */
.ui-autocomplete {
  /* limit dropdown height to 4 1/2 entries */
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
/* line 191, /opt/nextcloud-12/core/css/share.scss */
.notCreatable {
  padding-left: 12px;
  padding-top: 12px;
  color: rgba(0, 0, 0, .4);
}
/* line 197, /opt/nextcloud-12/core/css/share.scss */
.contactsmenu-popover {
  left: -8px;
  right: auto;
  padding: 3px 6px;
}
/* line 201, /opt/nextcloud-12/core/css/share.scss */
.contactsmenu-popover li.hidden {
  display: none !important;
}
/* line 204, /opt/nextcloud-12/core/css/share.scss */
.contactsmenu-popover:after {
  left: 8px;
  right: auto;
}
/* line 210, /opt/nextcloud-12/core/css/share.scss */
.popovermenu .datepicker {
  margin-left: 35px;
}
/* line 214, /opt/nextcloud-12/core/css/share.scss */
.popovermenu .passwordField {
  margin-left: 35px;
  width: inherit !important;
}
/* line 219, /opt/nextcloud-12/core/css/share.scss */
.ui-datepicker {
  z-index: 1111 !important;
}
