/* line 1, /opt/nextcloud-12/apps/theming/css/theming.scss */
.nc-theming-main-background {
  background-color: #cebefb;
}
/* line 5, /opt/nextcloud-12/apps/theming/css/theming.scss */
.nc-theming-main-text {
  color: #000;
}
/* line 9, /opt/nextcloud-12/apps/theming/css/theming.scss */
.nc-theming-contrast {
  color: #000;
}
/* invert header icons on bright background */
/* line 15, /opt/nextcloud-12/apps/theming/css/theming.scss */
.searchbox input[type="search"] {
  background: transparent url('../../../apps/theming/css/../../../core/img/actions/search.svg') no-repeat 6px center;
}
/* line 18, /opt/nextcloud-12/apps/theming/css/theming.scss */
#appmenu li a img {
  -webkit-filter: invert(1);
  filter: invert(1);
  filter: progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}
/* line 23, /opt/nextcloud-12/apps/theming/css/theming.scss */
#contactsmenu .icon-contacts {
  background-image: url('../../../apps/theming/css/../../../core/img/places/contacts-dark.svg');
}
/* line 26, /opt/nextcloud-12/apps/theming/css/theming.scss */
#settings .icon-settings-white {
  background-image: url('../../../apps/theming/css/../../../core/img/actions/settings-dark.svg');
}
/* Colorized svg images */
/* line 32, /opt/nextcloud-12/apps/theming/css/theming.scss */
.icon-file, .icon-filetype-text {
  background-image: url(./img/core/filetypes/text.svg?v=62);
}
/* line 36, /opt/nextcloud-12/apps/theming/css/theming.scss */
.icon-folder, .icon-filetype-folder {
  background-image: url(./img/core/filetypes/folder.svg?v=62);
}
/* line 40, /opt/nextcloud-12/apps/theming/css/theming.scss */
.icon-filetype-folder-drag-accept {
  background-image: url(./img/core/filetypes/folder-drag-accept.svg?v=62) !important;
}
/* override styles for login screen in guest.css */
/* line 45, /opt/nextcloud-12/apps/theming/css/theming.scss */
#header .logo, #header .logo-icon {
  background-image: url(https://cloud.inforoutes.fr/index.php/apps/theming/logo?v=62);
  background-size: contain;
}
/* line 53, /opt/nextcloud-12/apps/theming/css/theming.scss */
#body-login, #firstrunwizard .firstrunwizard-header, #theming-preview {
  background-image: url(https://cloud.inforoutes.fr/index.php/apps/theming/loginbackground?v=62);
  background-color: #cebefb;
}
/* line 60, /opt/nextcloud-12/apps/theming/css/theming.scss */
input.primary {
  background-color: #d1c2fb;
  border: 1px solid #cebefb;
  color: #000;
}
/* line 67, /opt/nextcloud-12/apps/theming/css/theming.scss */
#body-login input.login {
  background-image: url('../../../apps/theming/css/../../../core/img/actions/confirm.svg');
}
